<section class="d-flex align-items-center justify-content-center pt-5 mt-5">
    <section class="card text-center mb-3" style="width: 18rem;">
        <section>
            <h3 class="mt-4">¡Los Mejores Chistes de ChuckNorris!</h3>
            <h5 class="mt-4">{{informacionRecibida.value}}</h5>
            <button (click)="obtenerChisteDelServicio()" class="btn btn-dark mt-5">Nuevo Chiste</button>
            <section class="card h-100 mt-3">
                <img src="../../assets/fotoDos.jpg" class="card-img-top" alt="...">
            </section>
        </section>
    </section>
</section>