<section class="text-center p-5 d-flex align-items-center justify-content-center pt-5 mt-5">
    <section class="card w-50">
        <h2 class="mt-5">Ramses Zúñiga Rodríguez</h2>
        <h4 class="card-text mt-3">Residencia : San José - Alajuelita</h4>
        <section class=" p-5 d-flex align-items-center justify-content-center pt-5 mt-3">
            <div class="card w-75 mb-3" style="width: 18rem;">
                <img src="../../assets/fotoUno.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4 class="card-title">Tecnologías Usadas.</h4>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Angular.</li>
                  <li class="list-group-item">HTML.</li>
                  <li class="list-group-item">TypeScrip.</li>
                </ul>
                <div class="card-body">
                    <li class="list-group-item">Contacto : ramzuro@gmail.com</li>
                </div>
              </div>
        </section>
    </section>
</section>
